src/main/mule/relate.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <flow name="vitech-bank-customer-check-balance-Gmail-Flow" doc:id="cc6007d6-73c7-42e5-8071-d823ad80d635" >
		<logger level="INFO" doc:name="before send email" doc:id="397eaeae-2906-4b6a-b694-7687bbdb00e0" message="---------Before sending an Email --------------------"/>
		<parse-template doc:name="Parse Template" doc:id="b9b3ea0d-6e34-4a28-a34f-77e179a2c14a" >
			<content >&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
	&lt;title&gt;
		HTML table border Attribute
	&lt;/title&gt;
	&lt;style&gt;
		body {
			text-align: center;
		}

		table {
			margin: 0 auto;
			height: 20vh;
			width: 40vh;
		}

		h1 {
			color: green;
		}
        h5 {
			color: red;
		}
	&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
	&lt;h1&gt;Welcome to VITech Talks&lt;/h1&gt;
	&lt;h3&gt;#[vars.maxattempt.bodyEmail]&lt;/h3&gt;
    
    &lt;a href=&quot;https://www.youtube.com/@vitechtalks6017&quot; target=&quot;_blank&quot;&gt;Visit VITechTalks!&lt;/a&gt; 
    &lt;h5&gt;NOTE: This is an automated email please do not reply to this email&lt;/h5&gt;
	
&lt;/body&gt;

&lt;/html&gt;
</content>
		</parse-template>
		<email:send doc:name="Gmail Send" doc:id="d4a6b75f-b2e9-4922-b6d0-4014bdd47106" subject="#[vars.mxattempt.subject]" config-ref="Email_SMTP">
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8">
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="email sent" doc:id="a3fcca5e-23db-490a-85c7-5c299b788fd4" message="------------Email sent sucessfully    -------------"/>
	</flow>
	<flow name="vitech-bank-customer-check-balance-Lock-Flow" doc:id="53b02912-e3e7-4f18-8c9d-f7e2899f2bc9" >
		<logger level="INFO" doc:name="before send email1" doc:id="7186f0f5-179f-498f-a129-34b28a35bfa6" message="---------Before sending an Email --------------------" />
		<parse-template doc:name="Parse Template" doc:id="f86f6673-7d7d-40ad-a0bd-949996b1784f" >
			<content >&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
	&lt;title&gt;
		HTML table border Attribute
	&lt;/title&gt;
	&lt;style&gt;
		body {
			text-align: center;
		}

		table {
			margin: 0 auto;
			height: 20vh;
			width: 40vh;
		}

		h1 {
			color: green;
		}
        h5 {
			color: red;
		}
	&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
	&lt;h1&gt;Welcome to VITech Talks&lt;/h1&gt;
	&lt;h3&gt;#[vars.pinlock.bodyEmail]&lt;/h3&gt;
    
    &lt;a href=&quot;https://www.youtube.com/@vitechtalks6017&quot; target=&quot;_blank&quot;&gt;Visit VITechTalks!&lt;/a&gt; 
    &lt;h5&gt;NOTE: This is an automated email please do not reply to this email&lt;/h5&gt;
	
&lt;/body&gt;

&lt;/html&gt;
</content>
		</parse-template>
		<email:send doc:name="Gmail Send1" doc:id="6b20e79f-4aa6-418a-a588-4025c349732e" subject="#[vars.pinlock.subject]" config-ref="Email_SMTP">
			<email:to-addresses>
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8">
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="email sent1" doc:id="98c236ce-d552-438a-a3ce-53e5e4c341ec" message="------------Email sent sucessfully    -------------" />
	</flow>
	<flow name="get:\checkBalance:vitech-bank-customer-check-balance-config">
        <logger level="INFO" doc:name="Start API " doc:id="22754ee4-abd8-4b27-9192-ca92d2fb9e42" message="------------Check balance API started -----------"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	acctNum : attributes.queryParams.accountNum,&#10;	bank: attributes.queryParams.bank,&#10;	acctType: attributes.queryParams.acctType,&#10;	atmPin: attributes.queryParams.atmPin&#10;}]" doc:name="inputValues" doc:id="4ae21efc-31f9-4875-887c-b1c37af57f73" variableName="inputValues"/>
		<snowflake:select doc:name="Select" doc:id="e5e44789-aef8-4afd-ad13-7896618411a0" config-ref="Snowflake_Config">
			<snowflake:sql><![CDATA[select * from bank_transactions where custaccnum =:acctNum and bankname =:bankName]]></snowflake:sql>
			<snowflake:input-parameters><![CDATA[#[output application/java
---
{
	acctNum: vars.inputValues.acctNum,
	bankName: vars.inputValues.bank
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="verify Account exist or not" doc:id="8371b315-d432-4122-932c-68728c2a938b">
			<when expression="#[sizeOf(payload) &gt;= 1 and payload.ACCOUNTSTATUS[0] as String == 'Active']">
				<logger level="INFO" doc:name="Record found from db and active" doc:id="82210ead-5894-4a21-980b-2c3b83107f97" message="---------------Record found from db and active---------------" />
				<choice doc:name="Choice" doc:id="570e183a-78ff-436f-8b70-9c3c289d68db">
					<when expression="#[vars.inputValues.atmPin == payload.ATMPIN[0] and (payload.WRONGPIN[0] == 2 or payload.WRONGPIN[0] == 1)]">
						<set-variable value="#[payload.TOTALBALANCE[0]]" doc:name="totalBalance" doc:id="4a946284-7ea3-4185-8783-a40de464aadb" variableName="totalBalance" />
						<snowflake:update doc:name="wrong pin set to default" doc:id="fbd844a3-dbf7-4ed7-86b3-fd26b22fcbf2" config-ref="Snowflake_Config">
									<snowflake:sql><![CDATA[update bank_transactions 
    set WRONGPIN =:wrongPinAttempt
where custaccnum =:acountNum and bankname =:bankName]]></snowflake:sql>
									<snowflake:input-parameters><![CDATA[#[output application/json
---
{
	wrongPinAttempt: 0,
	acountNum: vars.inputValues.acctNum,
	bankName:  vars.inputValues.bank
}]]]></snowflake:input-parameters>
								</snowflake:update>
						<ee:transform doc:name="SuccessFinal Messgae">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Your total balance is "++ vars.totalBalance ++ " as on "++ now() as Date
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
					</when>
					<when expression="#[vars.inputValues.atmPin == payload.ATMPIN[0] and payload.WRONGPIN[0] == 0]">
						<logger level="INFO" doc:name="pin matched and wrong pin 0" doc:id="611c1bc4-6e69-42f8-884f-e6ca44e27516" message="-----------pin matched and wrong pin 0-------------------" />
						<ee:transform doc:name="Pin matched with wrong pin as 0" doc:id="c5f2fcd5-4bec-416d-99f6-78796fea4431">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Your total balance is "++ payload.TOTALBALANCE[0] ++ " as on "++ now() as Date
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<logger level="TRACE" doc:name="pin not matched" doc:id="22b0c9e3-d5ab-4029-acbb-b3e227358004" message="--------------pin not matched-------------" />
						<set-variable value="#[payload.MAILID[0]]" doc:name="email" doc:id="779af12c-ba4e-4272-9b18-3e54a71ac3eb" variableName="email" />
						<set-variable value="#[payload.WRONGPIN[0] + 1]" doc:name="wrongPinAttempt" doc:id="30e1fbf1-678b-40b2-b28d-6602c045083e" variableName="wrongPinAttempt" />
						<choice doc:name="Choice" doc:id="564c4e9a-bb6c-49dc-9b0a-0cd1d7225192">
							<when expression="#[vars.wrongPinAttempt == 3]">
								<logger level="INFO" doc:name="wrong pin as 3 reached" doc:id="e5b91e86-79d3-4ca3-ace7-8c9b000e7fc3" message="-----------wrong pin as 3 reached ---" />
								<snowflake:update doc:name="Update for Locked status and wrong pin " doc:id="5bd48bbb-b7ac-4d79-8259-faedb8676411" config-ref="Snowflake_Config">
									<snowflake:sql><![CDATA[update bank_transactions 
    set WRONGPIN =:wrongPinAttempt ,
        ACCOUNTSTATUS =:acctStatus
    
where custaccnum =:acountNum and bankname =:bankName]]></snowflake:sql>
									<snowflake:input-parameters><![CDATA[#[output application/json
---
{
	wrongPinAttempt: vars.wrongPinAttempt,
	acctStatus : "Locked",
	acountNum: vars.inputValues.acctNum,
	bankName:  vars.inputValues.bank
}]]]></snowflake:input-parameters>
								</snowflake:update>
								<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"subject" : "Account Locked !" ,&#10;	"bodyEmail": "This is to inform you that Your Account has been be locked due to 3 failed attempts. Please reach out nearest branch to unLock."&#10;}]' doc:name="pinlock" doc:id="ce1aa424-aa94-4704-9552-44dc1adf92ca" variableName="pinlock" />
								<ee:transform doc:name="pin max reached" doc:id="24c519c0-1483-4744-bbe3-92d91a695264">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Maximum Attempts reached .Your Account "++ vars.inputValues.acctNum ++" is temporarily locked. Please reach nearest Branch -"++ vars.inputValues.bank]]></ee:set-payload>
									</ee:message>
								</ee:transform>
							</when>
							<otherwise>
								<logger level="INFO" doc:name="pin login attempt failed" doc:id="2dcd0956-1e3c-4d7c-899c-202a90a9a7af" message="---------pin login attempt failed -------------" />
								<snowflake:update doc:name="wrong pin update" doc:id="a2c572c0-efe3-4a4e-b591-bf6e26f8751e" config-ref="Snowflake_Config">
							<snowflake:sql><![CDATA[update bank_transactions 
    set WRONGPIN =:wrongPinAttempt
where custaccnum =:acountNum and bankname =:bankName]]></snowflake:sql>
							<snowflake:input-parameters><![CDATA[#[output application/json
---
{
	wrongPinAttempt: vars.wrongPinAttempt,
	acountNum: vars.inputValues.acctNum,
	bankName:  vars.inputValues.bank
}]]]></snowflake:input-parameters>
						</snowflake:update>
								<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"subject" : "Failed Attempt !" ,&#10;	"bodyEmail": "This is to inform you that there is a failed attempt happened while transaction . Your Account will be locked after-"++ (3 - vars.wrongPinAttempt) as Number ++" attempts"&#10;}]' doc:name="mxattempt" doc:id="6530e08c-d45e-455d-830b-4d093447e81f" variableName="mxattempt" />
								<ee:transform doc:name="Transform Message" doc:id="072694f7-277b-4e08-8414-930d4fa95a3a">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Login Attempt Failed . You have Attempts left : "++ (3 - vars.wrongPinAttempt) as Number]]></ee:set-payload>
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</otherwise>
				</choice>
			</when>
			<when expression="#[sizeOf(payload) &gt;= 1 and payload.ACCOUNTSTATUS[0] as String != 'Active']">
				<logger level="INFO" doc:name="account status not Active" doc:id="7891fc57-eeef-47d4-8ea6-3e7a3f226914" message="--------------Account status is not active ----------" />
				<ee:transform doc:name="Card is Locked" doc:id="c036ce10-2e1a-4a90-a7dc-b684fca09dfb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Account "++ vars.inputValues.acctNum ++"temporarily locked. Please visit
nearest Branch for "++ vars.inputValues.bank]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Record not found" doc:id="2d796742-aa12-4802-8eae-3890a0ce2cce" message="----------Record not found ------------------" />
				<ee:transform doc:name="Record Notfound" doc:id="6b4934cb-ba07-4974-814a-6c655749d247">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Account "++ vars.inputValues.acctNum ++" does not exist, in Bank"++ vars.inputValues.bank ++" Enter Valid Details"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    
</flow>
</mule>